/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

/* Color Variables */
:root {
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}

img {
    width: 100%;
    display: block;
}

body {
   background: var(--Light-gray);
}

main {
    margin-top: 6em;
    background: var(--White);
    padding: 2em 3em;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 700px;
    border-radius: 5%;
}

.text h1 {
    font-weight: 700;
    text-align: center;
    font-size: 2em;
    color: var(--Dark-blue);
    margin-bottom: .5em;
}

.text p {
    font-weight: 400px;
    font-size: 15px;
    color: var(--Grayish-blue);
    text-align: center;
    
}

.image-container img {
    width: 400px;
    height: 400px;
    border-radius: 1em;
    margin-bottom: 2em;
}

.attribution {
    text-align: center;
}